::selection {
    background: $(primary);
    color: #FFF;
    text-shadow: none;
}
::-moz-selection {
    background: $(primary); /* Firefox */
    color: #FFF;
    text-shadow: none;
}
::-webkit-selection {
    background: $(primary); /* Safari */
    color: #FFF;
    text-shadow: none;
}