@svg plus {
  d: "M0,5 h10 M5,0 v10";
  width: 10;
  height: 10;
  stroke:  $(primary_contrast);
  stroke-linecap: round;
  stroke-width: 2;
  fill-opacity: .5;
  stroke-opacity:.1;

}
@svg minus {
    d: "M0,5 h10";
      stroke:  $(primary_contrast);
    }
