@set {
/* 	colours */
	background: white;  
	primary: red;
	dark: #222;
	light: #eee;
/* rounding */
	rounding: 0;
/* font sizes */
	base_font_size:16px;
	small_heading:20px;
	medium_heading:34px;
	large_heading:42px;
	huge_heading:60px;
/* 	new canvas */
	theme-color:                   $(primary);
	body-color:                    #555;
	heading-color:                 #444;
		
	header-height:                 100px;
	
}
@selector heading :any(h1, h2, h3, h4, h5, h6);

@ifset fontSet1{
	@import "fonts/fontSet1.css";
}
@ifset fontSet2{
	@import "fonts/fontSet2.css";
}

/* helpers */
@import "helpers/reset.css";
@import "helpers/helper.css";
@import "helpers/grid.css";
@import "helpers/loader.css";
@import "helpers/select.css";
@import "helpers/svg.css";
/* elements */
@import "elements/buttons.css";
@import "elements/dividers.css";
@import "elements/headings.css";
@import "elements/images.css";
@import "elements/links.css";
@import "elements/lists.css";
@import "elements/placeholder.css";
@import "elements/modal.css";
/* components */
@import "components/forms.css";
@import "components/panels.css";
@import "components/sliders.css";
/* sections */
@import "sections/header.css";
@ifset navFixed {
@import "sections/nav.css";
}
@ifset navFixedTrans {
@import "sections/navTrans.css";
}
@import "sections/footer.css";

body {
  color: $(dark);
  background-color: $(background);
}


main{
position: relative;
margin: 20px auto;
margin: 55px auto 0;
width: 100%;
}

@media screen and ( max-width: 500px ) {
  main{
margin: 60px auto 0;
}
.empty{
	display: none;
}
.so-widget-sow-image{
	text-align: center;
}
}


