footer {
  
  color: $(background);
  font-size: 12px;
  padding: 0;
  width: 100%;
  min-height: 30px;
  .inner{
	  max-width: 1020px;
	  margin: -10px auto;
	  color: $(light);
	  text-align: center;
	  background-color:$(primary);

  a {
    color: mix(@brand-primary, @body-bg, 50%);
    font-weight: normal;
  }
  p {
    font-size: 15px;
    line-height: 20px;
    margin: 10px;
    padding: 10px;
  }
	  
  }

}

