.font_colour{
	color:  @text_colour;
}

.primary_colour{
	color: @primary_colour;
}

.accent_colour{
	color: @accent_colour;
}

.background_colour{
	color: @background_colour;
}

.black{
	color: black;
}

.dark_grey{
	color: #333;
}

.mid_grey{
	color: #939393;
}

.light_grey{
	color: #d1d1d1;
}

.white{
	color: white;
}